.inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-48);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-48);
}

.text {
  display: flex;
  flex-direction: column;
  padding-inline: 0;
  max-width: 300px;
  text-align: center;
}

.textMobile {
  display: block;
}

.textDesktop {
  display: none;
}

.skills {
  display: flex;
  flex-direction: column;
  gap: var(--space-32);
  padding-inline: var(--space-48);
}

.skillsIntro {
  color: var(--color-meta);
  display: none;
}

@media (min-width: 768px) {
  .content {
    display: flex;
    flex-direction: column;
    gap: var(--space-64);
    align-items: flex-start;
    justify-content: space-between;
  }

  .text {
    text-align: start;
    padding-inline: var(--space-48);
  }

  .textMobile {
    display: none;
  }

  .textDesktop {
    display: flex;
    max-width: 50%;
    align-self: center;
    text-align: start;
    justify-content: center;
  }

  .skills {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--space-32);
    padding-inline: var(--space-48);
    align-items: center;
  }

  .skillsIntro {
    display: block;
    text-align: center;
  }
}
