.inner {
    display: flex;
    flex-direction: column;
    gap: var(--space-64);
}

.content {
    display: flex;
    flex-direction: column;
}

.headline {
    margin-bottom: var(--space-24);
}

.subline {
    margin-bottom: var(--space-64);
    font-size: 20px;
    font-weight: 300;
}

.ctas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-32);
}

@media (min-width: 900px) {
    .inner {
        flex-direction: row;
        align-items: center;
    }

    .content {
        max-width: 683px;
    }

    .subline {
        font-size: 32px;
    }
}