.hero__inner {
    display: flex;
    flex-direction: column;
    gap: var(--space-64);
}

.hero__content {
    display: flex;
    flex-direction: column;
}

.hero__headline {
    margin-bottom: var(--space-24);
}

.hero__subline {
    margin-bottom: var(--space-64);
    font-size: 20px;
    font-weight: 300;
}

.hero__ctas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-32);
}

@media (min-width: 900px) {
    .hero__inner {
        flex-direction: row;
        align-items: center;
    }

    .hero__content {
        max-width: 683px;
    }

    .hero__subline {
        font-size: 32px;
    }
}