.projectsInner {
    display: flex;
    flex-direction: column;
    gap: var(--space-32);
}

.projectsHeadline {
    text-align: center;
}

.empty {
  padding: 4rem 0;
  text-align: center;
  opacity: 0.7;
}