.inner {
    display: flex;
    flex-direction: column;
    gap: var(--space-48);
}

.group {
    display: flex;
    flex-direction: column;
    gap: var(--space-16);
}

.group ul {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--space-8);
    padding: 0;
    margin: 0;
}


.group li {
    list-style: none;
    position: relative;
    font-size: 16px;

}

.group li::before {
    content: "•";
    margin-right: var(--space-8);
    display: inline-block;
    width: 8px;
}
.group li:last-child {
    margin-bottom: 0;
}

.title {
    text-align: center;
    font-size: 22px;
    line-height: 1.5;
    font-weight: var(--fw-medium);
}

@media (min-width: 768px) {
    .inner {
        flex-direction: row;
        gap: var(--space-64);
    }

    .group ul {
        flex-direction: column;
        list-style: none;
        justify-content: flex-start;
        flex-wrap: nowrap;
    }

    .group li {
        margin-bottom: var(--space-16);
        list-style: none;
    }

    .group li::before {
        content: "";
        margin-right: 0;
        display: inline-block;
        width: 0;
    }

    .group li:last-child {
        margin-bottom: 0;
    }

    .title {
        margin-bottom: var(--space-24);
        text-align: start;
    }
} 
