.inner {
    display: flex;
    flex-direction: column;
    gap: var(--space-48);
}

.group ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Nutze gap für den Abstand zwischen Text und Punkt */
    column-gap: var(--space-8); 
    row-gap: var(--space-8);
    padding: 0;
    margin: 0;
    list-style: none;
}

.group li {
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
}

/* Der Punkt wird NUR zwischen den Elementen eingefügt */
.group li:not(:last-child)::after {
    content: "•";
    /* Schiebt den Punkt präzise in die Mitte der Gap */
    margin-left: var(--space-12); 
    color: currentColor; /* Passt sich der Textfarbe an */
}

.group {
    display: flex;
    flex-direction: column;
    gap: var(--space-16);
}


.title {
    text-align: center;
    font-size: var(--fs-subline);
    letter-spacing: 2%;
    line-height: 1.5;
    font-weight: var(--fw-medium);
}



@media (min-width: 768px) {
    .inner {
        flex-direction: column;
        gap: var(--space-48);
    }

    .group ul {
        
        flex-direction: column;
        list-style: none;
        justify-content: flex-start;
        flex-wrap: nowrap;
    }

    .group.frontend ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        column-gap: var(--space-48);

    }

    .bottom {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--space-48);
    }

    .group li {
        margin-bottom: var(--space-8);
        list-style: none;
        text-align: start;
    }

    .group li:not(:last-child)::after {
        content: "";
        margin-left: 0; 
    }

    .title {
        font-size: var(--fs-subline);
        text-align: start;
        line-height: 1; /* Position 'Frontend' heading on same horizontal line as text on the left */
    }
} 
